*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #d1d49a28;
    color: #333;
    margin: 0;
    padding: 20px;
    font-size: xx-large;
}
h2{
    text-align: center; 
    margin: 50px;
    color: rgb(70, 28, 16);
}
input, .submitButton {
    display: block;
    width: 400px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}
.submitButton{
    width: 200px;
}
#displayData p {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}
.content{
    width: 85%;
    text-align:justify;
    height: 200px;
    overflow: hidden;
}
.less{
    display: none;
    text-decoration: none;
    cursor: pointer;
}
.more{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: blue;
}
.more , .less{
    width: 10.934rem;
}
td{
    text-align: center;
}
.deleteButton , .editButton{
    padding: 5px 12px;
}
.main-container{
    font-family: 'Roboto', 'Lora', 'Rubik', 'Sora', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.parentdivforform{
    display: flex;
    justify-content: space-around;
}
form{
    margin: 40px;
}