body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    font-size: xx-large;
}
text{
    line-height: 1.6;
    margin: 10px 0;
}
h3 {
    text-align: center;
    align-items: center;
}
h3 a:hover{
    cursor: pointer;
    border-bottom: 2px solid #333;
}
.MobileImages{
    width: 200px;
    height: 200px;
    border: 2px solid #afafaf;
    border-radius: 15px;
}
.MobileImages:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor:pointer;
}
#images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}
p{
    text-align: center;
}
td{
    text-align: center;
}
button{
    padding: 5px 10px;
}
.car1{
    width: 100vh;
    height: 55vh;
    display: block;
    margin: 10vh auto;
}
.main-container{
    font-family: 'Roboto', 'Lora', 'Rubik', 'Sora', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
