
@media (max-width: 992px) {
    .profile-card {
        flex-direction: column;
        text-align: center;
        padding: 20px;
      }
      .profile-image img {
        width: 200px;
        margin: 0 auto;
      }
      .profile-content {
        padding-top: 20px;
        min-width: 100%;
      }
      .profile-content h2 {
        font-size: 22px;
      }
      .profile-content p {
        font-size: 15px;
      }
      
    }
@media (max-width:767px){

    .profile-card {
        flex-direction: column;
        text-align: center;
      }
    
      .profile-content {
        padding-top: 20px;
      }
    
      .profile-image img {
        margin: 0 auto;
      }

        .team-container {
          flex-direction: column;
          align-items: center;
        }
        .profile-image img {
            width: 150px;
          }
        
          .profile-content h2 {
            font-size: 20px;
          }
        
          .profile-content p {
            font-size: 14px;
          }
        
          .profile-card {
            padding: 15px;
            border-radius: 10px;
          }
          #pappa {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            grid-auto-rows: auto;
          }
        
          .bachay {
            grid-column: auto !important;
            grid-row: auto !important;
            aspect-ratio: 4/3;
          }
          
        
      


}
@media (max-width: 576px) {
    .profile-image img {
      width: 150px;
    }
    .profile-content h2 {
      font-size: 20px;
    }
    .profile-content p,
    .footer-text {
      font-size: 14px;
    }
    .profile-card {
      padding: 15px;
      border-radius: 12px;
    }
  }
@media (max-width: 330px) {
    .profile-card {
        padding: 10px;
        border-radius: 10px;
      }
      .profile-image img {
        width: 120px;
      }
      .profile-content h2 {
        font-size: 18px;
      }
      .profile-content p,
      .footer-text {
        font-size: 13px;
      }
  }
  