@media (max-width: 1200px) {
  .page-padding {
    padding: 0 40px;
    margin: 0;
  }
}
@media (max-width: 900px) {
  .profile-card {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .profile-image img {
    width: 200px;
    margin: 0 auto;
  }
  .profile-content {
    padding-top: 20px;
    min-width: 100%;
  }
  .profile-content h2 {
    font-size: 22px;
  }
  .profile-content p {
    font-size: 15px;
  }
  .page-padding {
    padding: 0 24px;
    margin: 0;
  }
  #pappa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 200px);
    padding: 20px;
  }
  #bacha1 { grid-column: 1 / 2; grid-row: 1 / 2; background-image: url("./Assets/Culture3.jpg"); }
  #bacha2 { grid-column: 2 / 3; grid-row: 1 / 2; background-image: url("./Assets/Culture2.jpg"); }
  #bacha3 { grid-column: 1 / 3; grid-row: 2 / 3; background-image: url("./Assets/Culture1.jpg"); }
  #bacha4 { grid-column: 1 / 2; grid-row: 3 / 4; background-image: url("./Assets/Culture6.jpg"); }
  #bacha6 { grid-column: 1 / 2; grid-row: 4 / 5; background-image: url("./Assets/Culture4.jpg"); }
  #bacha5 { grid-column: 2 / 3; grid-row: 3 / 5; background-image: url("./Assets/Culture5.jpg"); }
  #bacha8 { grid-column: 1 / 3; grid-row: 5 / 6; background-image: url("./Assets/Culture9.jpg"); }
  #bacha7, #bacha9{
    display: none;
  }
}
@media (max-width:767px){
  .profile-card {
    flex-direction: column;
    text-align: center;
  }  
  .profile-content {
    padding-top: 20px;
  }  
  .profile-image img {
    margin: 0 auto;
  }
  .team-container {
    flex-direction: column;
    align-items: center;
  }
  .profile-image img {
    width: 150px;
  }
  .profile-content h2 {
    font-size: 20px;
  }
  .profile-content p {
    font-size: 14px;
  }
  .profile-card {
    padding: 15px;
    border-radius: 10px;
  }
}
@media (max-width: 600px) {
  .profile-image img {
    width: 150px;
  }
  .profile-content h2 {
    font-size: 20px;
  }
  .profile-content p,
  .footer-text {
    font-size: 14px;
  }
  .profile-card {
    padding: 15px;
    border-radius: 12px;
  }
  #pappa {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 300px);
  }
  #bacha1 { grid-column: 1 / 3; background-image: url("./Assets/Culture3.jpg"); }
  #bacha3 { grid-column: 1 / 3; background-image: url("./Assets/Culture1.jpg"); }
  #bacha4 { grid-column: 1 / 3; background-image: url("./Assets/Culture6.jpg"); }
  #bacha6 { grid-column: 1 / 3; background-image: url("./Assets/Culture4.jpg"); }
  #bacha8 { grid-column: 1 / 3; background-image: url("./Assets/Culture9.jpg"); }
  
}
@media (max-width: 400px) {
  .profile-card {
    padding: 10px;
    border-radius: 10px;
  }
  .profile-image img {
    width: 120px;
  }
  .profile-content h2 {
    font-size: 18px;
  }
  .profile-content p,
  .footer-text {
    font-size: 13px;
  }
  .page-padding {
    padding: 0 12px;
  }
  #pappa {
    padding: 0;
  }
}  