@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sora:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lora, serif, montserrat, sans-serif;
}
body{
    background-color: #a6ebc9;
    color: #333;
    line-height: 1.6;
    text-align: center
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    max-height: 60vmin;
    max-width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    font-family: sans-serif;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 12vmin;
    background-color: #fff;
    color: #7A3838;
}
.box:hover{
    cursor: pointer;
    background-color: #f7f6f6;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
}
#reset-btn:hover , #new-btn:hover{
    cursor: pointer;
    background-color: #2e2e2e;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
}
#msg{
    color: #515353;
    font-size: 5vmin;
}
.msg-container{
    height: 21vmin;
}
.hide{
    display: none;
}
@media (max-width: 992px) {
    .container{
        height: 60vh;
    }
}
@media (max-width: 360px) {
    #new-btn{
        padding: 10px;
    }
}